<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="authors" content="Victor Chinewubeze" />
  <title>K Obyne Store | {% block title %}{% endblock %}</title>
</head>

<body>
  <main class="container p-2">
    {% block main %}{% endblock %}
  </main>

  <footer class="text-center bg-light p-2">
    <a href="/">K Obyne Store, Copyright &copy; 2019</a>
  </footer>
</body>

</html>